<nav class="flex items-center justify-between p-4 text-white bg-gray-900">
  <div class="flex items-center">
    <!-- Foto de perfil del usuario autenticado -->
    <img src="{{ profile.picture }}" alt="{{ profile.name }}" class="w-10 h-10 mr-2 rounded-full">
    <!-- Nombre del usuario autenticado -->
    <h1 class="text-lg">{{ profile.name }}</h1>
  </div>
  <!-- Ícono para cerrar sesión -->
  <button (click)="logOut()" class="text-white hover:text-gray-300 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
    </svg>
  </button>
</nav>
